<div class="registration">

  <div class="registration-title">
    <h2 class="registration-title-text">お客様情報変更</h2>
  </div>

  <div class="registration-form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :お名前 %><br />
        <%= f.text_field :name, class:"input-default", autofocus: true, placeholder: "例）鈴木　太郎" %>
      </div>
    
      <div class="field">
        <%= f.label :"カナ(全角)" %><br />
        <%= f.text_field :name_reading, class:"input-default", placeholder: "例）スズキ　タロウ" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-default" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :"電話番号 (ハイフンなし)"%><br />
        <%= f.text_field :phone_number, class:"input-default" %>
      </div>

      <div class="field">
        <%= f.label :password, "新パスワード" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"input-default", placeholder:"※変更したい場合のみ入力"%>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新パスワード変更（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-default", placeholder:"※変更したい場合のみ入力"%>
      </div>

      <div class="field">
        <%= f.label :current_password, "パスワード"%><br> <i>(最後に現在のパスワードを入力してください)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"input-default" %>
      </div>

      <div class="registration-btn">
        <%= f.submit "更新" , class:"registration-blue-btn"%>
      </div>
    <% end %>

  </div>
</div>
