<header> 
  <div class="app-title">
    <%= link_to "CAFE-APP", root_path, class: "title" %>
  </div>

  <div class="navi-bar">
    <ul class="navi-button-left">
      <li><%= link_to "onlin store", products_path, class: "navi-left-btn" %></li>
      <li class="navi-list">cafe</li>
      <li class="navi-list"><%= link_to "news", posts_path, class: "navi-news-link"%></li>
      <li class="navi-list">about</li>
    </ul>


    <ul class="navi-button-right">
      <% if user_signed_in? %>
        <div class="welcome">
          <h2 class="welcome-name"><%= "ようこそ #{current_user.name} さん" %></h2>
        </div>
        <li> <%= link_to 'マイページ', user_path(current_user.id), class: "navi-right-btn" %></li>
        <li> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "navi-right-btn", data: {confirm: "ログアウトしますか？"} %></li>
      <% else %>
        <li> <%= link_to '会員登録', new_user_registration_path, class: "navi-right-btn" %></li>
        <li> <%= link_to 'ログイン', new_user_session_path, class: "navi-right-btn" %></li>
      <% end%>
    </ul>
  </div>
</header>