<%= render "shared/header" %>

<div class="order-new-page">
  <h2 class="customer-confirm-title">
    購入確認
  </h2>
  <div class="order-new-content">

    <div class="order-new-content-top">
      <div class="order-content-top-left">
        <h3 class="info-title">クレジットカード</h3>
        <ul>
        <% if @card.brand = "visa" %>
          <li><%= image_tag 'card-visa.gif', class: "card-logo", size: '35x25' %>
        <% elsif @card.brand = "MasterCard" %>
          <li><%= image_tag 'card-mastercard.gif', class: "card-logo", size: '35x25' %>
        <% elsif @card.brand = "American Express" %>
          <li><%= image_tag 'card-amex.gif', class: "card-logo", size: '35x25' %>
        <% elsif @card.brand = "JCB" %>
          <li><%= image_tag 'card-jcb.gif', class: "card-logo", size: '35x25' %>
        <% end %>
        <%= @card.brand %></li>
        <li>有効期限　<%= @card.exp_month %> / 
        <%= @card.exp_year %> 年</li>
        <li><p>カード番号　････ ････ ････ <%= @card.last4 %></p></li>
        </ul>
      </div>
      <div class="order-content-top-right">
        <h3 class="info-title">お届け先</h3>
        <ul>
          <li><%= @address.postal_code %></li>
          <li><%= @address.prefecture.name %><%= @address.city %></li>
          <li><%= @address.house_number %></li>
          <li><%= @address.building_name %></li>
        </ul>
      </div>
    
    </div>

    <div class="order-new-content-bottom">
      <table class="table01">

      <tr>
        <th colspan="3">商品</th>
        <th>数量</th>
        <th>小計</th>
      </tr>

      <% @sum = 0 %>
      <% @sum_quantity = 0 %>
      <% @cart.each.with_index(1) do |cart, i| %>
      <tr class="cart-product-info">
        <td class="align-middle">
          <%= i %>
        </td>
        <td class="cart-show-image">
          <%= image_tag cart[:image], size: '170x120' %>
        </td>
        <td class="cart-show-name">
          <%= cart[:name] %><br>
          <%= cart[:price] %>円
        </td>
        <td>
         <%= cart[:quantity] %>
        </td>
        <td>
         <%= cart[:sub_total] %>
        </td>
      </tr>  
      <% @sum += cart[:sub_total] %>
      <% @sum_quantity += cart[:quantity] %>
      <% end %>
      </table>

      
    </div>
    
    <div class="order-new-content-footer">
      <div class="total-box">
        <%= @sum_quantity %> 点 / 
        合計 <b><%= @sum %></b> 円(税込)
      </div>
      
      <div class="buy-btm-box">
        <%= link_to "購入する", orders_path, method: :post, class: "buy-btm" %><br>
        <%= link_to "<<カートへ戻る", carts_show_path, class: "back-link" %>
      </div>
    </div>
  </div>
  

</div>

<%= render "shared/footer" %>