
<div class="cart-show-page">

  <h2 class="cart-show-title">
    Cart
  </h2>

  <% if @cart.blank? %>
    <div class="cart-blank-page">
      <h1 class="cart-blank-text">カートに商品がありません</h1>
      <%= link_to "商品一覧へ", products_path, class: "cart-blank-back" %>
    </div>


  <% else %>

    <table class="table01">

      <tr>
        <th colspan="3">商品</th>
        <th>数量</th>
        <th>小計</th>
      </tr>

      <% @sum = 0 %>
      <% @sum_quantity = 0 %>
      <% @cart.each.with_index(1) do |cart, i| %>
      <tr class="cart-product-info">
        <td class="align-middle">
          <%= i %>
        </td>
        <td class="cart-show-image">
          <%= image_tag cart[:image], size: '170x120' %>
        </td>
        <td class="cart-show-name">
          <%= cart[:name] %><br>
          <%= cart[:price] %>円
        </td>

        <%#数量変更%>
        <%= form_with url: change_item_quantity_path, method: :patch, local: true do |f| %>
          <td class="align-middle">
            <%= f.number_field :quantity, value: cart[:quantity], min: 1, class: "cart-show-quantity" %>個
          </td>
          <td class="align-middle">
            <%= cart[:sub_total] %>円
          </td>
          <td>
            <%= hidden_field_tag :product_id, cart[:product_id] %>
            <%= f.submit "更新", class: "cart-show-left-btn" %>
          </td>
        <% end %>
        <% @sum += cart[:sub_total] %>
        <% @sum_quantity += cart[:quantity] %>

        <%#商品削除%>
        <%= form_with url: destroy_carts_item_path, method: :delete, local: true do |f| %>
          <td class="border-0 align-middle">
            <%= hidden_field_tag :product_id, cart[:product_id] %>
            <%= f.submit "削除", class: "cart-show-left-btn" %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>

    <div class="total-price-box">
      <%= @sum_quantity %> 点 / 
        合計 <b><%= @sum %></b> 円(税込)
    </div>
  <% end %>

  <div class="cart-link-wrap">
    <% if current_user.address.present? %>
      <%= link_to "購入確認へ", new_order_path, class: "cart-link" %>
    <% else %>
      <%= link_to "カード・お届け先登録へ", new_card_address_path, class: "cart-link" %>
    <% end %>
  </div>
  <div class="cart-back-link-wrap">
    <%= link_to "商品一覧へ戻る", products_path, class: "cart-back-link" %>
  </div>


</div>