<div class="home-page">
  <div class="home-pic-space">
    <%= image_tag "home-picture.png", class:"home-pic" %>
  </div>
  
  <div class="home-contents">
    <div class="news-contents">
      <div class="news-title">
        <h2 class="news-title-text">NEWS・BLOG</h2>
      </div>
      <div class="news-lists">
        <%= render partial: 'posts/post', collection:@posts %>
      </div>
      
    </div>

    <div class="home-link-wrap">
      <h2 class="home-link-title">Contents</h2>
      <ul class="home-link-ul">
        <li>
          <div class="link-pic-box">
            <%= link_to image_tag("online-pic.png", size: "300x180"), products_path  %>
            <%= link_to "OnlineStore", products_path, class:"link-pic-text" %>
          </div>
        </li>
        <li>
          <div class="link-pic-box">
            <%= link_to image_tag("menu-pic.png", size: "300x180"), homes_menu_path %>
            <%= link_to "MENU", homes_menu_path, class:"link-pic-text" %>
          </div>
        </li>
        <li>
          <div class="link-pic-box">
            <%= link_to image_tag("shop-pic.png", size: "300x180"), homes_store_path %>
            <%= link_to "STORE", homes_store_path, class:"link-pic-text" %>
          </div>
        </li>
        <li>
          <div class="link-pic-box">
            <%= link_to image_tag("about-pic.png", size: "300x180"), homes_about_path %>
            <%= link_to "About Us", homes_about_path, class:"link-pic-text" %>
          </div>
        </li>
        <li>
          <div class="link-pic-box">
            <%= link_to image_tag("news-pic.png", size: "300x180"), posts_path %>
            <%= link_to "NEWS BLOG", posts_path, class:"link-pic-text" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>