<div class="menu-page">
  <h2 class="menu-page-title"><i>~ cafe-app menu ~</i></h2>
  <div class="menu-contents">
    <h3 class="menu-list-genre">coffee</h3>
    <ul class="menu-list-ul">
      <li>
        <div class="menu-list">
          <%= image_tag "blend.png", size: "200x200" %>
          <p>ブレンド</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT・ICE</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "latte.png", size: "200x200" %>
          <p>カフェラテ</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT・ICE</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "cafemocha.png", size: "200x200" %>
          <p>カフェモカ</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "cappuccino.png", size: "200x200" %>
          <p>カプチーノ</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "espresso.png", size: "200x200" %>
          <p>エスプレッソ</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "american.png", size: "200x200" %>
          <p>アメリカーノ</p>
          <p>S ¥300　M ¥400　L ¥500</p>
          <p>HOT・ICE</p>
        </div>
      </li>
    </ul>

    <h3 class="menu-list-genre">food</h3>
    <ul class="menu-list-ul">
      <li>
        <div class="menu-list">
          <%= image_tag "cheesecake.png", size: "200x200" %>
          <p>チーズケーキ</p>
          <p>¥500</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "berrycake.png", size: "200x200" %>
          <p>ベリーケーキ</p>
          <p>¥500</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "pancake.png", size: "200x200" %>
          <p>パンケーキ</p>
          <p>¥500</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "sandwich.png", size: "200x200" %>
          <p>サンドイッチ</p>
          <p>¥500</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "buketsand.png", size: "200x200" %>
          <p>バケットサンド</p>
          <p>¥500</p>
        </div>
      </li>
      <li>
        <div class="menu-list">
          <%= image_tag "hotsand.png", size: "200x200" %>
          <p>ホットサンド</p>
          <p>¥500</p>
        </div>
      </li>

    </ul>
  </div>
</div>