<div class="card">
  <%# <%= link_to post_path(post.id) do %> 
    <%= image_tag post.image %>
    <div class="card-body">
      <%= post.post_category_id %>
      <%= post.title%>
      <%= post.updated_at %>
    </div>
  <%# <% end %> 
</div>