<div class="article">
    <%= link_to image_tag(post.image, class: "article-image"), post_path(post.id) %>
    <div class="article-body">
      <ul class="article-body-lists">
        <li class="article-list">#<%= post.post_category.name %></li>
        <li class="article-list"><b><%= link_to post.title, post_path(post.id), class: "post-title-link" %></b></li>
        <li class="article-list"><%= post.updated_at.strftime('%Y/%m/%d') %></li>
      </ul>
    </div>
    <% if current_user.try(:admin?) %>
    <div class="article-admin-btn-wrap">
      <%= link_to "編集", edit_post_path(post.id), class: "article-admin-btn" %>
      <%= link_to "削除", post_path(post.id), method: :delete, class: "article-admin-btn" , data: {confirm: "削除しますか？"} %>
    </div>
    <% end %>
</div>