<div class="product-wrap">
  <div class="product-image-box">
    <%= image_tag product.image, class: "product-image"%>
  </div>
  <div class="product-info-box">
    <ul>
    <li><%= product.product_name %></li>
    <li>¥  <%= product.price %>  (税込)</li>
    <li><%= product.info %></li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="product-buy-btn">
      <p>カートへ入れる    １</p>
    </div>
  <% end %>
  <% if current_user.try(:admin?) %>
    <div class="product-admin-btn-wrap">
      <%= link_to "編集", edit_product_path(product.id), class: "product-admin-btn" %>
      <%= link_to "削除", "#", method: :delete, class: "product-admin-btn" , data: {confirm: "削除しますか？"} %>
    </div>
  <%end%>
</div>